@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&family=Nunito:wght@400;600;700;900&display=swap');

@font-face {
    font-family: "Outfit-bold";
    src: url('./assets/fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 400 900;
}

@font-face {
    font-family: "Outfit-semibold";
    src: url('./assets/fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 400 900;
}

@font-face {
    font-family: "Outfit-regular";
    src: url('./assets/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400 900;
}

@font-face {
    font-family:"Nohemi";
    src: url('./assets/fonts/Nohemi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@theme {
  --font-outfitbold: "Outfit-bold", "Nohemi";
  --font-outfitsemibold: "Outfit-semibold", "Nohemi";
  --font-outfitregular: "Outfit-regular", "Nohemi";
  --font-nohemi: "Nohemi", serif;  
}
